body {
  background-image: url(https://media.giphy.com/media/Xf2I5odqo0GYepmNpd/giphy-downsized-large.gif);
  background-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px blue, 0 0 5px darkblue;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  background-color: yellow;
}

.keyboard-container {
  margin-top: 200px;
}

#target-letter {
  font-size: 38px;
  color: white;
  text-shadow: 2px 2px 4px #dbdbdb;
}

.well {
  box-shadow: 0 4px 8px 0 rgba(153, 150, 150, 0.986), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reset {
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.863), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1da237;
}

.glyphicon-remove {
  color: #cd2626;
}
